@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #fffff0;
}

.nav-links li, a, i {
    font-family: "Lobster";
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #edf0f1;
    background-color: #e19e9e;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #e19e9e;

}

.nav-links {
    list-style: none;
    background-color: #e19e9e;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover {
    color: #bf8383;
}

#main-title {
    font-family: "Lobster";
    font-weight: 400;
    font-size: 40px;
    color: #bf8383;
    text-align: center;
    margin-top: 20px;
}

#image-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0px 40px;
}

#image-flex-container img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#detail-flex-box {
    display: flex;
    flex-direction: row;
    background-color: #b9d0be;
    margin: 80px 100px 10px;
    height: 600px;
    border-radius: 25px;
}

#left-container {
    display: flex;
    flex-direction: column;
    width: 598px;
    background: none;
    font-weight: 400;
    padding: 20px;
}

#left-container img {
    width: 450px;
    height: 450px;
    align-self: center;
    border-radius: 25px;
}

#left-container h2 {
    font-family: "Lobster";
    background: none;
    font-size: 40px;
    color: #516e4d;
    text-align: center;
}

#left-container p {
    font-family: "Cormorant";
    background: none;
    font-size: 35px;
    color: #516e4d;
    text-align: center;
}

#vertical-line {
    border-left: 1px solid #edf0f1;
    height: 580px;
    align-self: center;
    margin-right: 95px;
}

#right-container {
    display: flex;
    flex-direction: column;
    width: 896px;
    background: none;
    margin-top: 20px;
}

#right-container h3 {
    background: none;
    font-family: "Lobster";
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 10px;
    color: #585958;
}

#right-container p {
    background: none;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 30px;
    color: #7c7d7c;
}

#right-container ul {
    background: none;
    font-family: "Lobster";
    font-weight: 400;
    font-size: 30px;
    color: #585958;
    list-style-position: inside;
}

#right-container li {
    background: none;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 24px;
    margin-top: 10px;
    color: #7c7d7c;
}

#buttons {
    display: flex;
    flex-direction: row;
    background: none;
    margin-top: 40px;
}

#like-button {
    background: none;
    margin-top: 30px;
    border: none;
    cursor: pointer;
}

#dislike-button {
    background: none;
    margin-top: 30px;
    border: none;
    margin-left: 40px;
    cursor: pointer;
}

#thumbs-up {
    border-radius: 50%;
    background: none;
    background-color: rgb(46, 61, 46);
    height: 20px;
    width: 20px;
}

#thumbs-down {
    border-radius: 50%;
    background: none;
    background-color: rgb(102, 47, 37);
    height: 20px;
    width: 20px;
}

#thumbs-up::before {
    vertical-align: sub;
}

#thumbs-down::before {
    vertical-align: -webkit-baseline-middle;
}

#comment-box {
    display: flex;
    flex-direction: row;
    background: none;
    background-color: #b9d0be;
    margin: 10px 100px;
    height: 70px;
    border-radius: 30px;
}

#comment-box input {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    padding: 0 20px;
    border: 1px solid #e19e9e;
}

#comment-box textarea {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    padding: 0 20px;
    border: 1px solid #e19e9e;
    vertical-align: middle;
}

#comment-form {
    background: none;
    margin-top: 19px;
    margin-left: 416px;
}

#post-button {
    height: 30px;
    width: 70px;
    border-radius: 20px;
    border: 1px solid #e19e9e;
    background-color: #e19e9e;
    color: #fffff0;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
}

#comment-container {
    display: flex;
    flex-direction: column;
    margin: 10px 100px;
    height: 400px;
    border-radius: 30px;
    font-family: "Lobster";
    font-weight: 400;
    font-size: 45px;
    background-color: #b9d0be;
    color: #585958;
    padding: 10px 20px;
}

#comment-list {
    background-color: #b9d0be;
}

#comment-list li {
    background-color: #b9d0be;
}

#comment-container ul{
    font-family: "Cormorant";
    font-weight: 400;
    background-color: #b9d0be;
    padding: 10px 20px;
    margin-left: 40px;
    font-size: 30px;
}

#comment-username {
    font-weight: bold;
}


#right-container h2 {
    background: none;
    font-family: "Lobster";
    font-weight: 400;
    font-size: 30px;
    color: #585958;
    list-style-position: inside;
}

#cocktail-bio-body {
    height: 62px;
}

#ingredients-list {
    height: 195px;
}


